.timer {
  font-family: sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-weight: 100;
  text-align: center;
  font-size: 36px;
}

.field {
  padding: 20px;
  margin: 7px;
  border-radius: 10px;
  background: #ad4e7d;
}

.value {
  padding: 30px;
  border-radius: 3px;
  background: #65548d;
  display: inline-block;
}

.label {
  display: block;
  padding-top: 5px;
  font-size: 26px;
}
